

body{
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
}
.card-container{
  width: 850px;
  background: #fff;
  align-items: flex-end;
  padding: 50px 30px;
  border-radius: 5px;
}
.text-center{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:55px;
}
.select-letter{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;

}

@media screen and (max-width: 430px) {
  .text-center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:55px;
  }
  .select-letter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    display: block;
  }

 
  
}
